name: Go

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go (1.18)
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'

      - name: Run tests
        run: go test ./...
